*{
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Shippori Mincho', serif;
    list-style: none;
    box-sizing: border-box;
}
a{
    color: #fff;
}



button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
}

header{
    
    
    height: 90px;
    
    /* left: 0; */
    position: fixed;
    /* top: 0; */
    width: 100vw;
    z-index: 999;
}

.nav-wrapper {
	height: 100vh;
	right: 0;
	position: fixed;
	top: 0;
	transform: translateX(100%);
	transition: transform .3s;
	width: 500px;
	z-index: 4; /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
}
  .header-nav{        
    width: 100%;        
    height: 100%;        
    background-image: url(../images/hambg_2.png);        
    z-index: 4;      
  }     
  .nav-list{        
    display: block;        
    position: absolute;        
    top: 50%;        
    left: 50%;        
    transform: translate(-50%,-50%);        
    text-align: left;      
  }      
  .nav-item{        
      
    margin-right: 0;        
    margin-top: 60px;      
  }

  .detail{
      margin-left: 30px;
      margin-top: 10px;
  }

  .nav-list a{
    color: #003149;
    font-size: 18px;
    position: relative;
  }

.nav-list a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #003140;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;   /*変形の時間*/
}
.nav-list a:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
  
  /* メニューオープン時 */
  .nav-wrapper.slide-in {
	transform: translateX(0);
}

/* .icons{
    align-items: center;
    display: flex;
    justify-content: space-between;
} */
/* .hayabusa-button{
    display: inline-block;
} */
.burger-btn{
    border:none; 
    display: inline-block;      
         
    height: 39px;    
    margin-top: 0px;  
    position: fixed;      
    right: 30px;
     top: 20px;
    width: 39px; 
    z-index: 5;  
}  

.bar{      
    width: 40px;      
    height: 2px;        
    display: block;      
    position: absolute;      
    left: 50%;      
    transform: translateX(-50%);      
    background-color: #fff;    
}  
.bar_top{   
    top: 10px;
  }
  .bar_mid{    
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom{
    bottom: 10px;
  }

  .burger-btn.close .bar_top{      
    transform: translate(-50%,10px) rotate(45deg);  
    background-color: #003149;    
    transition: .3s;  
    
  }    
  .burger-btn.close .bar_mid{      
    opacity: 0; 
    transition: opacity .3s;    
    
  }    
  .burger-btn.close .bar_bottom{      
  transform: translate(-50%,-8px) rotate(-45deg); 
  background-color: #003149;       
  transition: .3s;    
  }

h2{
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1em;
    
    text-align: center;
    text-indent: 1em;
}
/*title*/
.title{
    background-color: #003149;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* z-index: 0; */
    
}
.titleContent{
    text-align: center;
}

.hayabusaTitle{
    background-color: #fff;
    /* background-image: url(../images/hayabusamae.png); */
    width: 1127px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2em;
    text-align: center;
    text-indent: 2em;
}

.particles{
    
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #003149;  background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

.others{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


/*introduction*/
.introduction{
    /* #EAF5F5 */
    background :linear-gradient(#003149,#EAF5F5 33% 67%,#003149) ;
    height: 160vh;
    position: relative;
}

.introduction p{
    color: #003149;
    font-size: 24px;
    left: 50%;
    line-height: 120px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.timeline{
    color: #fff;
    background-image: url(../images/bglong.png);
    background-size: cover;
    height: 7500px;
    position: relative;
}

.timeline h2{
    padding-top: 225px;
}

.items{
    display: flex;
    position: absolute;
    z-index: 3;
}

.date{
    font-size: 24px;
    text-align: center;
}

.itemcaption{
    margin-left: 30px;
}
.itemcaption h3{
    font-size: 36px;
    font-weight: normal;
}
.itemcaption p{
    font-size: 14px;
    line-height: 40px;
    margin-top: 24px;
}

/*timeline文字設定*/
.uchiage{
    left: 189px;
    top: 652px;
}

.itokawaTouchaku{
    left: 898px;
    top: 1247px;
}

.reactionWheelKoshou{
    left: 206px;
    top: 1843px;
}

.minerubaBunri{
    left: 533px;
    top: 2375px;
}

.koukaChallenge{
    left: 815px;
    top: 2860px;
}

.koukaSeikou{
    left: 189px;
    top: 3597px;
}

.tsuushinTodaeru{
    left: 524px;
    top: 4134px;
}

.koushinFukkatsu{
    left: 524px;
    top: 5102px;
    opacity: 0;
}

.shinRouteKettei{
    left: 183px;
    top: 5620px;
}

.ionEngineKoshou{
    left: 754px;
    top: 6140px;
}

.chikyuuHeKikan{
    left: 420px;
    top: 6964px;
}




/*timelineのimg設定*/
.timeline img{
    position: absolute;
    z-index: 2;
}

.rocket{
    left: 720px;
    top: 495px;
}

.itokawa{
    left: 149px;
    top: 1113px;
}

.hayabusaTop{
    left: 959px;
    top: 1762px;
}

.minerva{
    left: 26px;
    top: 2438px;
}

.landing{
    left: 385px;
    top: 2945px;
}

.ionEngine{
    left: 225px;
    top: 6065px;
    transform: rotate(-16deg);
}

.parashuto{
    left: 937px;
    top: 6914px;
    transform: rotate(13deg);

}

.ion1{
    position: absolute;
    left: 366px;
    top: 6110px;
    transform: rotate(-16deg);
    opacity: 0;
}
.ion2{
    position: absolute;
    left: 264px;
    top: 6134px;
    transform: rotate(-16deg);
    opacity: 0;

}

.ion3{
    position: absolute;
    left: 388px;
    top: 6195px;
    transform: rotate(-16deg);
    opacity: 0;
}

.ion4{
    position: absolute;
    left: 284px;
    top: 6225px;
    transform: rotate(-16deg);
    opacity: 0;
}



/*timeline画像終わり*/

/*タイムラインpolygon*/
.pol{
    position: absolute;
    z-index: 1;
}

.pol1{
    left: 0;
    top: 472px;
}
.pol2{
    right: 0;
    top: 1082px;
}
.pol3{
    left: 0;
    top: 1710px;
}
.pol4{
    left: 435px;
    top: 2308px;
}
.pol5{
    right: 0;
    top: 2770px;
}
.pol6{
    left: 22px;
    top: 3492px;
}
.pol7{
    left: 407px;
    top: 4015px;
}
.pol8{
    left: 18px;
    top: 5508px;
}
.pol9{
    left: 650px;
    top: 6002px;
}


/*timelineボタン*/
.column-button{
    background-color: #fff;
    color: #003149;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 66px;
    
    line-height: 66px;
    position: absolute;
    right: 0;
    
    width: 236px;
    transition: .5s;
}

.column-button:hover{
    background-color: #005F8B;
    color: #fff;
    transition: all .5s;

}
.button-itokawa{
    top: 1565px;
    
}

.button-sample{
    top: 3752px;
}


/*moving Hayabusa*/
svg{
    position: absolute;
    
}

/* .arrow1{
    left: 249px;
} */

/* #vec1{
    transform: translateX(249px);
} */


#movingHayabusa{
    position: absolute;
    
}


/*ライト*/
.light1{
    position: absolute;
    z-index: 0;
    left: 212px;
    top: 4538px;
    opacity: 0;

}
.light2{
    position: absolute;
    z-index: 0;
    left: 610px;
    top: 6135px;
    /* opacity: 0; */

}




/*全体像*/
.hayabusaBody{
    background-color: #003149;
    color: #fff;
    position: relative;
 
    height: 1000px;
}
.hayabusa_body h2{
    margin-top: 82px;
}

.body-content{
    align-items: start;
    display: flex;
    justify-content: space-around;
    margin-top: 220px;
    margin-left: 100px;
    margin-right: 100px;
}

.bodyImages img{
    display: block;
    margin: 0 auto;

}
/* .caption{
    background-color: #fff;
    height: 350px;
    width: 350px;
} */

.hayabusa_body{
    /* height: 210px; */
}

.buttons {
   line-height: 6em;
   width: 350px;
}
.buttons a{
    position: relative;
    

}

.buttons a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;   /*変形の時間*/
}
    
.buttons a:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

.caption{
    line-height: 2em;
    margin-left: 50px;
}

.sampleLight{
    position: absolute;
    left: 295px;
    top: 580px;
    opacity: 0;
}

.minervaLight{
    position: absolute;
    left: 280px;
    top: 548px;
    opacity: 0;
}

.capsuleLight{
    position: absolute;
    left: 285px;
    top: 513px;
    opacity: 0;
}

.ionLight{
    position: absolute;
    left: 345px;
    top: 335px;
    opacity: 0;
}

.solarLight1{
    position: absolute;
    left: 180px;
    top: 255px;
    opacity: 0;
}

.solarLight2{
    position: absolute;
    left: 490px;
    top: 255px;
    opacity: 0;
}

.last{
  
    background: linear-gradient(#003149, #EAF5F5 30%);
    height: 1000px;
}
.last p{
    color: #003149;
    font-size: 24px;
    line-height: 120px;
    padding-top: 250px;
    text-align: center;
}
footer{
    background-color: #EAF5F5;
    height: 90px;
    line-height: 90px;
    text-align: center;
}
