*{
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Shippori Mincho', serif;
    list-style: none;
}
a{
    color: #fff;
}



button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
}

header{
    
    
    height: 90px;
    
    /* left: 0; */
    position: fixed;
    /* top: 0; */
    width: 100vw;
    z-index: 1;
}

.nav-wrapper {
	height: 100vh;
	right: 0;
	position: fixed;
	top: 0;
	transform: translateX(100%);
	transition: transform .3s;
	width: 500px;
	z-index: 2; /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
}
  .header-nav{        
    width: 100%;        
    height: 100%;        
    background-image: url(../images/hambg_2.png);        
    z-index: 2;      
  }     
  .nav-list{        
    display: block;        
    position: absolute;        
    top: 50%;        
    left: 50%;        
    transform: translate(-50%,-50%);        
    text-align: left;      
  }      
  .nav-item{        
      
    margin-right: 0;        
    margin-top: 60px;      
  }

  .detail{
      margin-left: 30px;
      margin-top: 10px;
  }

  .nav-list a{
    color: #003149;
    font-size: 18px;
  }
  
  /* メニューオープン時 */
  .nav-wrapper.slide-in {
	transform: translateX(0);
}

/* .icons{
    align-items: center;
    display: flex;
    justify-content: space-between;
} */
/* .hayabusa-button{
    display: inline-block;
} */
.burger-btn{
    border:none; 
    display: inline-block;      
         
    height: 39px;    
    margin-top: 0px;  
    position: fixed;      
    right: 30px;
     top: 20px;
    width: 39px; 
    z-index: 3;  
}  

.bar{      
    width: 40px;      
    height: 2px;        
    display: block;      
    position: absolute;      
    left: 50%;      
    transform: translateX(-50%);      
    background-color: #fff;    
}  
.bar_top{   
    top: 10px;
  }
  .bar_mid{    
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom{
    bottom: 10px;
  }

  .burger-btn.close .bar_top{      
    transform: translate(-50%,10px) rotate(45deg);  
    background-color: #003149;    
    transition: .3s;  
    
  }    
  .burger-btn.close .bar_mid{      
    opacity: 0; 
    transition: opacity .3s;    
    
  }    
  .burger-btn.close .bar_bottom{      
  transform: translate(-50%,-8px) rotate(-45deg); 
  background-color: #003149;       
  transition: .3s;    
  }

h2{
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1em;
    
    text-align: center;
}
/*title*/
.title{
    background-color: #003149;
    height: 100vh;
    position: relative;
    width: 100vw;
    z-index: 0;
    
}
.hayabusa-front{
    
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

}

h1{
    color: #fff;
    font-size: 64px;
    left: 50%;
    letter-spacing: 2em;
    position: absolute;
    text-align: center;
    top: 80%;
    transform: translateX(-50%) translateY(-50%);
    width: 100vw;
}

.particles{
    
    height: 100%;
    position: absolute;
    top: 0;
    width: 350px;
}
.particles-right{
    right: 0;
}

.particles-left{
    left: 0;
}
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #003149;  background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

/*introduction*/
.introduction{
    height: 100vh;
    position: relative;
}

.introduction p{
    color: #003149;
    font-size: 24px;
    left: 50%;
    line-height: 120px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.timeline{
    color: #fff;
    background-color: #003149;
    height: 7500px;
    position: relative;
}

.timeline h2{
    padding-top: 225px;
}

.items{
    display: flex;
    position: absolute;
}

.date{
    font-size: 24px;
    text-align: center;
}

.itemcaption{
    margin-left: 30px;
}
.itemcaption h3{
    font-size: 36px;
    font-weight: normal;
}
.itemcaption p{
    font-size: 14px;
    line-height: 40px;
    margin-top: 24px;
}

/*timeline文字設定*/
.uchiage{
    left: 189px;
    top: 652px;
}

.itokawaTouchaku{
    left: 898px;
    top: 1247px;
}

.reactionWheelKoshou{
    left: 206px;
    top: 1843px;
}

.minerubaBunri{
    left: 533px;
    top: 2375px;
}

.koukaChallenge{
    left: 815px;
    top: 2860px;
}

.koukaSeikou{
    left: 189px;
    top: 3597px;
}

.tsuushinTodaeru{
    left: 524px;
    top: 4134px;
}

.koushinFukkatsu{
    left: 524px;
    top: 5102px;
}

.shinRouteKettei{
    left: 183px;
    top: 5620px;
}

.ionEngineKoshou{
    left: 754px;
    top: 6140px;
}

.chikyuuHeKikan{
    left: 420px;
    top: 6964px;
}




/*timelineのimg設定*/
.timeline img{
    position: absolute;
}

.rocket{
    left: 720px;
    top: 495px;
}

.itokawa{
    left: 149px;
    top: 1113px;
}

.hayabusaTop{
    left: 959px;
    top: 1762px;
}

.minerva{
    left: 26px;
    top: 2438px;
}

.landing{
    left: 385px;
    top: 2945px;
}

.ionEngine{
    left: 225px;
    top: 6065px;
    transform: rotate(-16deg);
}

.parashuto{
    left: 937px;
    top: 6914px;
    transform: rotate(13deg);

}

/*timeline画像終わり*/

/*timelineボタン*/
.column-button{
    background-color: #fff;
    color: #003149;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 66px;
    
    line-height: 66px;
    position: absolute;
    right: 0;
    
    width: 236px;
}

.button-itokawa{
    top: 1565px;
    
}

.button-sample{
    top: 3752px;
}


/*moving Hayabusa*/
svg{
    position: absolute;
    
}

/* .arrow1{
    left: 249px;
} */

/* #vec1{
    transform: translateX(249px);
} */


#movingHayabusa{
    position: absolute;
}

/*全体像*/
.hayabusaBody{
    background-color: #003149;
    color: #fff;
 
    height: 874px;
}
.hayabusa_body h2{
    margin-top: 82px;
}

.body-content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
    margin-left: 100px;
    margin-right: 100px;
}
.caption{
    background-color: #fff;
    height: 350px;
    width: 350px;
}

.hayabusa_body{
    /* height: 210px; */
}

.buttons {
   line-height: 4em;
   width: 350px;

    
}


.last{
    background-color: #fff;
    height: 874px;
}
.last p{
    color: #003149;
    font-size: 24px;
    line-height: 120px;
    margin-top: 100px;
    text-align: center;
}
footer{
    height: 130px;
    line-height: 130px;
    text-align: center;
}
