*{
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Shippori Mincho', serif;
    list-style: none;
    box-sizing: border-box;
}
a{
    color: #fff;
}



button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
}

header{
    
    
    height: 90px;
    
    /* left: 0; */
    position: fixed;
    /* top: 0; */
    width: 100vw;
    z-index: 999;
}

.hayabusa_button img{
    width: 48px;
}

.nav-wrapper {
	height: 100vh;
	right: 0;
	position: fixed;
	top: 0;
	transform: translateX(100%);
	transition: transform .3s;
	width: 500px;
	z-index: 4; /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
}
  .header-nav{        
    width: 100%;        
    height: 100%;        
    background-image: url(../images/hambg_2.png);        
    z-index: 4;      
  }     
  .nav-list{        
    display: block;        
    position: absolute;        
    top: 50%;        
    left: 50%;        
    transform: translate(-50%,-50%);        
    text-align: left;      
  }      
  .nav-item{        
      
    margin-right: 0;        
    margin-top: 60px;      
  }

  .detail{
      margin-left: 30px;
      margin-top: 10px;
  }

  .nav-list a{
    color: #003149;
    font-size: 18px;
    position: relative;
  }

.nav-list a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #003140;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;   /*変形の時間*/
}
.nav-list a:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
  
  /* メニューオープン時 */
  .nav-wrapper.slide-in {
	transform: translateX(0);
}

/* .icons{
    align-items: center;
    display: flex;
    justify-content: space-between;
} */
/* .hayabusa-button{
    display: inline-block;
} */
.burger-btn{
    border:none; 
    display: inline-block;      
         
    height: 39px;    
    margin-top: 0px;  
    position: fixed;      
    right: 30px;
     top: 20px;
    width: 39px; 
    z-index: 5;  
}  

.bar{      
    width: 40px;      
    height: 2px;        
    display: block;      
    position: absolute;      
    left: 50%;      
    transform: translateX(-50%);      
    background-color: #fff;    
}  
.bar_top{   
    top: 10px;
  }
  .bar_mid{    
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom{
    bottom: 10px;
  }

  .burger-btn.close .bar_top{      
    transform: translate(-50%,10px) rotate(45deg);  
    background-color: #003149;    
    transition: .3s;  
    
  }    
  .burger-btn.close .bar_mid{      
    opacity: 0; 
    transition: opacity .3s;    
    
  }    
  .burger-btn.close .bar_bottom{      
  transform: translate(-50%,-8px) rotate(-45deg); 
  background-color: #003149;       
  transition: .3s;    
  }

h2{
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1em;
    
    text-align: center;
    text-indent: 1em;
}
/*title*/
.title{
    background-color: #003149;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* z-index: 0; */
    
}
.titleContent{
    text-align: center;
}

.hayabusaTitle{
    background-color: #fff;
    /* background-image: url(../images/hayabusamae.png); */
    width: 1127px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2em;
    text-align: center;
    text-indent: 2em;
}

.particles{
    
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #003149;  background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

.others{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


/*introduction*/
.introduction{
    /* #EAF5F5 */
    background :linear-gradient(#003149,#EAF5F5 25% 75%,#003149) ;
    height: 120vh;
    width: 100vw;
    position: relative;
}

.introduction p{
    color: #003149;
    font-size: 24px;
    left: 50%;
    line-height: 120px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.timeline{
    color: #fff;
    background-image: url(../images/bglong.png);
    background-size: cover;
    height: 7500px;
    width: 100vw;
    position: relative;
}

.timeline h2{
    padding-top: 225px;
}

.items{
    display: flex;
    position: absolute;
    z-index: 3;
}

.date{
    font-size: 24px;
    text-align: center;
}

.itemcaption{
    margin-left: 30px;
}
.itemcaption h3{
    font-size: 36px;
    font-weight: normal;
}
.itemcaption p{
    font-size: 14px;
    line-height: 40px;
    margin-top: 24px;
}
.hidden{
    display: none;
}

/*timeline文字設定*/
.uchiage{
    left: 189px;
    top: 652px;
}

.itokawaTouchaku{
    left: 898px;
    top: 1247px;
}

.reactionWheelKoshou{
    left: 206px;
    top: 1843px;
}

.minerubaBunri{
    left: 533px;
    top: 2375px;
}

.koukaChallenge{
    left: 815px;
    top: 2860px;
}

.koukaSeikou{
    left: 189px;
    top: 3597px;
}

.tsuushinTodaeru{
    left: 524px;
    top: 4134px;
}

.koushinFukkatsu{
    left: 524px;
    top: 5102px;
    opacity: 0;
}

.shinRouteKettei{
    left: 183px;
    top: 5620px;
}

.ionEngineKoshou{
    left: 754px;
    top: 6140px;
}

.chikyuuHeKikan{
    left: 420px;
    top: 6964px;
}




/*timelineのimg設定*/
.timeline img{
    position: absolute;
    z-index: 2;
}

.rocket{
    left: 720px;
    top: 495px;
}

.itokawa{
    left: 149px;
    top: 1113px;
}

.hayabusaTop{
    left: 959px;
    top: 1762px;
}

.minerva{
    left: 26px;
    top: 2438px;
}

.landing{
    left: 385px;
    top: 2945px;
}

.ionEngine{
    left: 225px;
    top: 6065px;
    transform: rotate(-16deg);
}

.parashuto{
    left: 900px;
    top: 6914px;
    transform: rotate(13deg);

}

.ion1{
    position: absolute;
    left: 366px;
    top: 6110px;
    transform: rotate(-16deg);
    opacity: 0;
}
.ion2{
    position: absolute;
    left: 264px;
    top: 6134px;
    transform: rotate(-16deg);
    opacity: 0;

}

.ion3{
    position: absolute;
    left: 388px;
    top: 6195px;
    transform: rotate(-16deg);
    opacity: 0;
}

.ion4{
    position: absolute;
    left: 284px;
    top: 6225px;
    transform: rotate(-16deg);
    opacity: 0;
}



/*timeline画像終わり*/

/*タイムラインpolygon*/
.pol{
    position: absolute;
    z-index: 1;
}

.pol1{
    left: 0;
    top: 472px;
}
.pol2{
    right: 0;
    top: 1082px;
}
.pol3{
    left: 0;
    top: 1710px;
}
.pol4{
    left: 435px;
    top: 2308px;
}
.pol5{
    right: 0;
    top: 2770px;
    height: 400px;
    width: 762px;
}
.pol6{
    left: 22px;
    top: 3492px;
}
.pol7{
    left: 407px;
    top: 4015px;
}
.pol8{
    left: 18px;
    top: 5508px;
}
.pol9{
    left: 650px;
    top: 6050px;
}


/*timelineボタン*/
.column-button{
    background-color: #fff;
    color: #003149;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 66px;
    
    line-height: 66px;
    position: absolute;
    right: 0;
    
    width: 236px;
    transition: .5s;
}

.column-button:hover{
    background-color: #005F8B;
    color: #fff;
    transition: all .5s;

}
.button-itokawa{
    top: 1565px;
    
}

.button-sample{
    top: 3752px;
}


/*moving Hayabusa*/
svg{
    position: absolute;
    
}

/* .arrow1{
    left: 249px;
} */

/* #vec1{
    transform: translateX(249px);
} */


#movingHayabusa{
    position: absolute;
    
}


/*ライト*/
.light1{
    position: absolute;
    z-index: 0;
    left: 212px;
    top: 4538px;
    opacity: 0;

}
.light2{
    position: absolute;
    z-index: 0;
    left: 610px;
    top: 6135px;
    /* opacity: 0; */

}




/*全体像*/
.hayabusaBody{
    background-color: #003149;
    color: #fff;
    position: relative;
 
    height: 1000px;
    width: 100vw;
}
.hayabusa_body h2{
    margin-top: 82px;
}

.body-content{
    align-items: start;
    display: flex;
    justify-content: space-around;
    margin-top: 220px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    z-index: 1;
}

.bodyImages img{
    display: block;
    margin: 0 auto;

}
/* .caption{
    background-color: #fff;
    height: 350px;
    width: 350px;
} */

.hayabusa_body{
    /* height: 210px; */
}

.buttons {
   line-height: 6em;
   width: 350px;
}
.buttons a{
    position: relative;
    

}

.buttons a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;   /*変形の時間*/
}
    
.buttons a:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

.caption{
    line-height: 2em;
    margin-left: 50px;
    margin-right: 50px;
}

.sampleLight{
    position: absolute;
    left: 295px;
    top: 580px;
    opacity: 0;
    z-index: 0;
}

.minervaLight{
    position: absolute;
    left: 280px;
    top: 548px;
    opacity: 0;
    z-index: 0;
}

.capsuleLight{
    position: absolute;
    left: 285px;
    top: 513px;
    opacity: 0;
    z-index: 0;
}

.ionLight{
    position: absolute;
    left: 345px;
    top: 335px;
    opacity: 0;
    z-index: 0;
}

.solarLight1{
    position: absolute;
    left: 180px;
    top: 255px;
    opacity: 0;
    z-index: 0;
}

.solarLight2{
    position: absolute;
    left: 490px;
    top: 255px;
    opacity: 0;
    z-index: 0;
}

.last{
  
    background: linear-gradient(#003149, #EAF5F5 30%);
    height: 1000px;
    width: 100vw;
}
.last p{
    color: #003149;
    font-size: 24px;
    line-height: 120px;
    padding-top: 250px;
    text-align: center;
}
footer{
    background-color: #EAF5F5;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

@media screen and (max-width:480px){

  
    .titleImage{
        width: 311px;
    }
    h1{
        font-size: 36px;
        letter-spacing: 1em;
        text-indent: 1em;
    }

    .introduction p{
        font-size: 14px;
        line-height: 80px;
    }


    h2{
        font-size: 14px;
    }

    /*タイムライン*/

    .timeline{
        width: 100vw;
        height: 3900px;
       
    }
    .timeline h2{
        
        padding-top: 55px;
    }

    .items{
        left: 20px;
    }

    .date{
        font-size: 11px;
    }
    .itemcaption{
        margin-left: 10px;
    }
    .itemcaption h3{
        font-size: 14px;
    }
    .itemcaption p{
        font-size: 9px;
        line-height: 2em;
        margin-top: 10px;
        
    }
    .hidden{
        display: inline;
    }

    .uchiage{
        top: 176px;
    }
    .itokawaTouchaku{
        top: 383px;
    }
    .reactionWheelKoshou{
        top: 657px;
    }
    .minerubaBunri{
        top: 926px;
    }
    .koukaChallenge{
        top: 1242px;
    }
    .koukaSeikou{
        top: 1459px;
    }
    .tsuushinTodaeru{
        top: 1805px;
    }
    .koushinFukkatsu{
        top: 2408px;
    }
    .shinRouteKettei{
        top: 2649px;
    }
    .ionEngineKoshou{
        top: 2917px;
    }
    .chikyuuHeKikan{
        top: 3415px;
    }

    .pol1{
        width: 278px;
        height: 140px;
        left: 0;
        top: 143px;
    }
    .pol2{
        transform: scale(-1, 1);
        width: 288px;
        height: 150px;
        left: 0;
        top: 357px;
    }

    .pol3{
        transform: scale(1, -1);
        width: 370px;
        height: 230px;
        left: 0;
        top: 620px;
    }
    .pol4{
        width: 330px;
        height: 220px;
        object-fit: cover;
        object-position: 100% 100%;
        
        left: 0;
        top: 900px;
    }
    .pol5{
        
        width: 320px;
        height: 190px;
        left: 0;
        top: 1210px;
        object-fit: cover;
        object-position: 100% 100%;
    }
    .pol6{
        width: 350px;
        height: 200px;
        left: 0;
        top: 1431px;
        object-fit: cover;
        object-position: 100% 100%;
    }
    .pol7{
        
        width: 420px;
        height: 150px;
        left: initial;
        right:  10px;
        top: 2617px;
    }
    .pol8{
        transform: scale(1, -1);
        width: 400px;
        height: 200px;
        top: 1755px;
        right: 20px;
        left: initial;
    }
    .pol9{
        
        width: 400px;
        height: 180px;
        left: initial;
        right: 10px;
        top: 2896px;
    }

    .rocket{
        width: 150px;
        height: 184px;
        left: 225px;
        top: 153px;
        object-fit: cover;
        object-position: 0 100%;
    }
    .itokawa{
        width: 136px;
        left: 220px;
        top: 369px;
    }
    .hayabusaTop{
        width: 114px;
        left: 237px;
        top: 616px;
        
    }

    .minerva{
        width: 130px;
        left: 209px;
        top: 849px;
    }

    .landing{
        width: 177px;
        height: 188px;
        left: 198px;
        top: 1294px;
        object-fit: contain;
        object-position: 0 100%;
    }
    .ionEngine{
        width: 119px;
        left: 222px;
        top: 2836px;
        transform: rotate(12deg);
    }

    .parashuto{
        width: 164px;
        height: 212px;
        left: 175px;
        top: 3547px;
        object-fit: cover;
        object-position: 0 100%;
        transform: rotate(21deg);
    }

    .column-button{
        height: 45px;
        width: 165px;
        font-size: 9px;
        line-height: 45px;
    }
    .button-itokawa{
        top: 505px;
    }
    .button-sample{
        top: 1653px;
    }
    .ion1{
        width: 59px;
        left: 241px;
        top: 2851px;
        transform: rotate(11.9deg);
    }
    .ion2{
        width: 59px;
        left: 273px;
        top: 2860px;
        transform: rotate(11.9deg);
    }
    .ion3{
        width: 59px;
        left: 233px;
        top: 2880px;
        transform: rotate(11.9deg);
    }
    .ion4{
        width: 59px;
        left: 267px;
        top: 2887px;
        transform: rotate(11.9deg);
    }




    /*全体像*/

    .hayabusaBody{
        height: 800px;
    }

    .hayabusaBody h2{
        padding-top: 50px;
    }





    .body-content{
        margin-left: 5px;
        margin-right: 5px;
        display: block;
        margin-top: 50px;

    }


    .bodyImages{
        display: flex;
    }
   
    .hayabusa_body{
        width: 183px;
        
    }

    .landing_body{
        width: 120px;
        
    }
    
    .buttons{
        font-size: 14px;
        line-height: 4em;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 50px;
        
    }
    .caption{
        margin-left: 20px;
        font-size: 10px;
        line-height: 2em;
    }

    /*last*/

    .last{
        height: 100vh;
    }

    .last p{
        font-size: 9px;
        line-height: 40px;
    }

    footer{
        font-size: 8px;
        height: 40px;
        line-height: 40px;
    }


}
